
div.column { padding: 5px }

p { margin-top: 2em; font-size: 110%}

p.author { font-variant: small-caps;
           margin-top: 0.1em; margin-left: 2em;
	   text-align: left }
p.source { 
           margin-top: 0.1em; margin-left: 2em;
           text-align: left }
