
div.column { padding: 5px }

div.quotations p { margin-top: 2em; font-size: 120%}

div.quotations p.author { font-variant: small-caps;
           margin-top: 0.1em; margin-left: 2em;
	   text-align: left }
div.quotations p.source { 
           margin-top: 0.1em; margin-left: 2em;
           text-align: left }
