RedirectPermanent /quotations/shakespeare/page-1.html http://quotations.amk.ca/quotations/shakespeare/
RedirectPermanent /quotations/shakespeare/page-1 http://quotations.amk.ca/quotations/shakespeare/
