RedirectPermanent /quotations/hp-lovecraft/page-1.html http://quotations.amk.ca/quotations/hp-lovecraft/
RedirectPermanent /quotations/hp-lovecraft/page-1 http://quotations.amk.ca/quotations/hp-lovecraft/
