RedirectPermanent /quotations/python-quotes/page-1.html http://quotations.amk.ca/quotations/python-quotes/
RedirectPermanent /quotations/python-quotes/page-1 http://quotations.amk.ca/quotations/python-quotes/
