RedirectPermanent /quotations/neil-gaiman/page-1.html http://quotations.amk.ca/quotations/neil-gaiman/
RedirectPermanent /quotations/neil-gaiman/page-1 http://quotations.amk.ca/quotations/neil-gaiman/
